
html,body{
  margin: 0px;
  padding: 0px;
}
header{
  display:flex;
  padding: 20px;
  height: 40px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  align-items: center;
}

main{
  padding: 50px;
}

.header--image{
  height: 40px;
  padding: 20px;;
}

.header--title{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18.2px;
}

.form{
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 20px;

}

.form--button{
  grid-column: 1 / -1;
}

.form--input{
  border-radius:5px;
  padding-left: 8px;
  padding-right: 8px;
  border-color: rgb(206, 195, 195);
}

.form--button{
  border-radius: 5px;
  padding: 8px;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  background: linear-gradient(90deg, #711F8D 1.14%, #A818DA 100%);
  border: none;
  cursor: pointer;
}


